.login-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.left-area {
  width: 100%;
  height: 100vh;
  position: relative;
  .login-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    z-index: 999;
  }

  .bg-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/images/logo-sidebar.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
  }
}

.right-area {
  background-color: #9b59b6;
  width: 100%;
  height: 100vh;

  .banner {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/images/login-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s linear;
    -moz-transition: all 1s linear; /* Firefox 4 */
    -webkit-transition: all 1s linear; /* Safari 和 Chrome */
    -o-transition: all 1s linear; /* Opera */
  }
}

.layout-sidebar {
  display: none;
}
.layout-header {
  padding: 0 30px 0 0;
  height: 55px;
  line-height: 55px;
  color: white !important;
  display: flex;
  justify-content: flex-end;
}
.header-name {
  margin-right: 15px;
  position: relative;
}
.header-name::after {
  content: '';
  width: 2px;
  height: 15px;
  position: absolute;
  top: 25px;
  right: -7px;
  background-color: white;
}

.logo {
  height: 8rem;
  margin: 5px;
  margin-bottom: 4rem;
  background-image: url('../assets/images/logo-sidebar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
// @media (min-width: 992px) {
.layout-sidebar {
  display: unset;
  position: fixed;
  height: 100vh;
}
// .layout-header {
//   display: none;
// }
.layout-content {
  margin-left: 250px;
}
// }
